
// COLOURS
$main_bg: #ffffff;
$top_bg: #053455;
$top_h1_color: #eaeaea; 
$top_font_color: #818181; 
$main_font_color: #333333;
$main_font_color_light: #eaeaea;
$menu_bg: #4F8EBA;
$menu_bg_item: #93C4E6;
$menu_bg_item_hover: #185682;
$menu_item_hover_font_color: #eaeaea;
$menu_bg_item_active: #888888;
$menu_item_border_color: #eaeaea;
$menu_font_color: #053455;
$shadow_box_color: #cccccc;
$box_border_olor: #BFC8D8;
$box_bg_color: #F1F6FE;
$bg_footer: #092437;
$separator_line_color: #C9D5EA;

//font sizes
$main_font_size: 14px;
$font_size_h1: 4vw;
$top_h1_font_size: 7vw;
$top_description_font_size: 4vw;
$menu_font_size: 16px;
$footer_font_size: 14px;


//fonts
$h1_font: 'Candal', sans-serif;
$main_font: 'Dosis', sans-serif;

// URLS
$url_close_menu: url("../img/close-icon.png");
$url_close_icon: url("../img/close.png");
$url_open_icon: url("../img/open.png");
$url_menu_icon: url("../img/menu.png");

